{% extends "base.html" %}

{% block content %}


<style>
.custom-button {
        background-color: #113fa2;
        border-color: transparent;
        transition: background-color 0.3s;
    }

    .custom-button:hover {
        background-color: #0a6b10; /* Change to the desired hover color */
    }
    .error {
        color: red;
        font-size: 20px; /* Adjust the font size as needed */
    }
</style>

<section class="vh-100">
  <div class="container-fluid" style="border: 2px solid #113fa2; margin-bottom: 30px; background-color: rgb(246, 238, 228);">
    <div class="row">
      <div class="col-sm-6 text-black">
        <div class="px-5 ms-xl-4">
          <i class="fas fa-newspaper fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
          <span class="h1 fw-bold mb-0">Čipčasi i Lukica</span>
        </div>

        <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5" >
          <form method="post">
            {% csrf_token %}

            <div class="form-outline mb-4">
              <label class="form-label" for="username"  style="font-size: xx-large;">Korisničko ime </label>
              <input type="text" id="username" name="username" class="form-control form-control-lg" />
              {% for error in form.username.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
            </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="password" style="font-size: xx-large;">Lozinka</label>
              <input type="password" id="password" name="password" class="form-control form-control-lg" />
              {% for error in form.password.errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
            </div>

            <div class="pt-2 mb-4">
              <button class="btn btn-info btn-lg btn-block custom-button" type="submit" >Uloguj se</button>
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="/media/image/NakedWomanReadingNewspaper.jpg"
          alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left; border-right: 1px solid #113fa2;">
      </div>
    </div>
  </div>
</section>

{% endblock %}
