<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <link rel="icon" href="{% static 'no.png' %}" type="image/png">
      <title>Čipčasi i Lukica</title>
  
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/6.8.2/tinymce.min.js" integrity="sha512-6JR4bbn8rCKvrkdoTJd/VFyXAN4CE9XMtgykPWgKiHjou56YDJxWsi90hAeMTYxNwUnKSQu9JPc3SQUg+aGCHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        
        <script>
            tinymce.init({
                selector: 'textarea#id_content',
                // Add other configuration options as needed
                // Basic toolbar configuration
                toolbar: 'undo redo | formatselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',

            // Additional plugins
            plugins: 'link image',

            // Configure the paste plugin for handling content pasted from external sources
            paste_data_images: true,
            paste_as_text: false,

            // Customize the paste_preprocess function for handling pasted content
            paste_preprocess: function(plugin, args) {
            // Convert pasted URLs to links
            if (args.content.includes('http://') || args.content.includes('https://')) {
                args.content = '<a href="' + args.content + '" target="_blank">' + args.content + '</a>';
            }
            },
            });
        </script>
        
        
        <link rel="stylesheet" href="{% static 'css/news.css' %}">
    </head>
    <body class="d-flex flex-column min-vh-100" style="background-color: antiquewhite;">
        <div class="page-header ">
            {% block navbar %}
            <nav class="navbar navbar-expand-md navbar-dark bg-faded mb-5" style="background-color: #113fa2 !important; height: auto; color: azure; font-size: x-large;">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href={% url 'home' 1%}>Početna <span class="sr-only">(current)</span></a>
                    </li>
        
                    </ul>
                </div>
                </nav>
            {% endblock %}
        </div>

        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
        
        <footer
                class="text-center text-lg-start text-white mt-auto"
                style="background-color: #113fa2; width: auto;"
                >
          
          <div class="container p-4 pb-0">
            
            <section class="">
              
              <div class="row">
                
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">
                    Čipčaši i Lukica
                  </h6>
                  <p>
                    Slobodne i politički nezavisne novine na kojima možete
                    svakodnevno da se informisete o politici, sportu, crnoj hronici, obrazovanju i razonodi.
                  </p>
                </div>
                
      
                <hr class="w-100 clearfix d-md-none" />
      
               
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Kolumne</h6>
                  <p>
                    <a class="text-white" href="/pages/search/1?cat=2&search=&date1=&date2=">Nauka</a>
                  </p>
                  <p>
                    <a class="text-white" href=/pages/search/1?cat=1&search=&date1=&date2=>Politika</a>
                  </p>
                  <p>
                    <a class="text-white" href=/pages/search/1?cat=5&search=&date1=&date2=>Sport</a>
                  </p>
                  <p>
                    <a class="text-white" href=/pages/search/1?cat=4&search=&date1=&date2=>Obrazovanje</a>
                  </p>
                  <p>
                    <a class="text-white" href=/pages/search/1?cat=3&search=&date1=&date2=>Razanoda</a>
                  </p>
                  <p>
                    <a class="text-white" href=/pages/search/1?cat=6&search=&date1=&date2=>Crna hronika</a>
                  </p>
                 
                </div>
              
      
                <hr class="w-100 clearfix d-md-none" />
      
               
                <hr class="w-100 clearfix d-md-none" />
      
                
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
                  <p><i class="fas fa-home mr-3"></i> Kragujevac, KG, SRB</p>
                  <p><i class="fas fa-envelope mr-3"></i> čipčašiILukica@gmail.com</p>
                  <p><i class="fas fa-phone mr-3"></i>NAAA FIKSNI NEZOVI ME</p>
                 
                </div>
                
      
               
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h6 class="text-uppercase mb-4 font-weight-bold">Pratite nas</h6>
      
                  
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #3b5998"
                     href="https://en.wikipedia.org/wiki/HTTP_404"
                     role="button"
                     ><i class="fab fa-facebook-f"></i
                    ></a>
      
                 
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #55acee"
                     href="https://en.wikipedia.org/wiki/HTTP_404"
                     role="button"
                     ><i class="fab fa-twitter"></i
                    ></a>
      
               
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #dd4b39"
                     href="čipčaši_i_lukica@gmail.com"
                     role="button"
                     ><i class="fab fa-google"></i
                    ></a>
      
                 
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #ac2bac"
                     href="https://www.instagram.com/bolee_01/"
                     role="button"
                     ><i class="fab fa-instagram"></i
                    ></a>
      
                 
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #0082ca"
                     href="https://www.linkedin.com/in/bogdan-mitrovic/"
                     role="button"
                     ><i class="fab fa-linkedin-in"></i
                    ></a>
                
                  <a
                     class="btn btn-primary btn-floating m-1"
                     style="background-color: #333333"
                     href="https://github.com/bogdan-mitrovic/PISiBP"
                     role="button"
                     ><i class="fab fa-github"></i
                    ></a>
                </div>
              </div>
             
            </section>
          
          </div>
          
      
       
          <div
               class="text-center p-3"
               style="background-color: rgba(0, 0, 0, 0.2)"
               >
            © 2024 Copyright:
            <a class="text-white" href="https://mdbootstrap.com/"
               >Čipčaši i Lukica</a
              >
          </div>
         
        </div> 
        </footer>
        
    </div>

    </body>

        
        
    
  

</html>
