{% extends "base.html" %}

{% block navbar %}
{% if user.is_authenticated %}
  {% include "loged-nav2.html" %}
{% else %}
  {% include "general-nav.html" %}
{% endif %}
{% endblock %}


<style>
  h1 {
      text-align: center;
      color: #333;
      margin-bottom: 150px;
  }

</style>

{% block content %}
      {% if not draft.is_up_for_deletion %}
        
      <div class="row">
            <div class="col-md-8">
              <div class="row">
                  <h1>{{draft.title}}</h1>
                  
                  <div class="col-md-12 p-1">
                    <strong>Tagovi:</strong> {% for tag in news.tags.all %} {{ tag.name }}{% if not forloop.last %}, {% endif %} {% endfor %}
                  </div>
                
                  {% if draft.image %}
                      {% if draft.image|stringformat:"s"|slice:":5" == "image" %}
                          <img class="card-img-top thum-image" src="/media/{{draft.image}}" alt="Card image cap">
                      {% else %}
      
                          <img class="card-img-top thum-image" src="{{draft.image}}" alt="Card image cap">
                      {% endif %}
                  {% else %}
                      <img class="card-img-top thum-image" src="https://via.placeholder.com/150" alt="Card image cap">
                  {% endif %}
                  
                  <br>
                  <br>
                  <style>
                    /* Apply a fixed width of 300 pixels to the div */
                    .fixed-width-div {
                      width: 900px;
                      /* Add other styles as needed */
                      background-color: #f0f0f0;
                      border-radius: 15px;
                      padding: 10px;
                      margin: 10px;
                    }
                  </style>
                <div class = "fixed-width-div">
                  <p class="p-2">
                    {{ draft.content|safe }}
                </p>
              </div>
                  <br>
                  <br>
                <div>
                  <!-- Edit Button -->
                    {% if not request.user.is_staff   %}
                      <a href="{% url 'edit-draft' draft.id %}" class="btn btn-primary" style="background-color: #113fa2;">Uredi</a>
                    {% else %}
                    <button type="button"style="background-color: #113fa2;" class="btn btn-success" data-toggle="modal" data-target="#deleteConfirmationModal1" >
                      Dozvoli
                    </button>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                  </div> 
                </div> 
              </div> 
            </div> 
          </div>    
    
             
        <!-- Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmationModal1" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal1Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteConfirmationModal1Label">Potvrdi dozvolu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Da li ste sigurni da hocete da objavite nacrt?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkazi</button>
                      <a href="{% url 'approve-draft' draft.id %}" class="btn btn-danger">Potvrdi</a>
                  </div>
              </div>
          </div>
        </div>
        {% else %}
        <h1 style="margin-bottom: 180px; text-align: center;">Novinar je podneo zahtev za brisanje</h1>
        <div class="row" style="text-align: center; margin-left: 450px;">
            <a href="{% url 'news-detail' draft.draft_of.id %}"     style="background-color: #113fa2; margin-bottom: 15px;" class="btn btn-primary">Vesti</a>
            {% if user.is_superuser or user.is_authenticated and user.is_staff %}
                    <button type="button" style="margin-bottom: 15px;" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal2">
                      Odobri
                    </button>
            {% endif %}
        </div>
        <div class="modal fade" id="deleteConfirmationModal2" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal2Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteConfirmationModal2Label">Potvrdi dozvolu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Da li ste sigurni da hoćete da obrišete vest?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
                      <a href="{% url 'approve-draft' draft.id %}" class="btn btn-danger">Potvrdi</a>
                  </div>
              </div>
          </div>
        </div>
        
        {% endif %}
{% endblock %}
