{% extends "base.html" %}

{% block navbar %}
{% if user.is_authenticated %}
  {% include "logged-nav.html" %}
{% else %}
  {% include "general-nav.html" %}
{% endif %}
{% endblock %}

{% block content %}
      {% if not draft.is_up_for_deletion %}
        
      <div class="row">
            <div class="col-md-8">
              <div class="row">
                  <h1>{{draft.title}}</h1>
                  
                  <div class="col-md-12 p-1">
                    Tags:
                    {% for tag in draft.tags.all %}
                        {{ tag.name }}
                        {% if not forloop.last %},{% endif %}
                    {% endfor %}
                  </div>
                
                  {% if draft.image %}
                      {% if draft.image|stringformat:"s"|slice:":5" == "image" %}
                          <img class="card-img-top thum-image" src="/media/{{draft.image}}" alt="Card image cap">
                      {% else %}
      
                          <img class="card-img-top thum-image" src="{{draft.image}}" alt="Card image cap">
                      {% endif %}
                  {% else %}
                      <img class="card-img-top thum-image" src="https://via.placeholder.com/150" alt="Card image cap">
                  {% endif %}
                  
                  <br>
                  <br>
                  <style>
                    /* Apply a fixed width of 300 pixels to the div */
                    .fixed-width-div {
                      width: 900px;
                      /* Add other styles as needed */
                      background-color: #f0f0f0;
                      border-radius: 15px;
                      padding: 10px;
                      margin: 10px;
                    }
                  </style>
                <div class = "fixed-width-div">
                  <p class="p-2">
                    {{ draft.content|safe }}
                </p>
              </div>
                  <br>
                  <br>
                <div>
                  <!-- Edit Button -->
                    {% if not request.user.is_staff   %}
                      <a href="{% url 'edit-draft' draft.id %}" class="btn btn-primary">Edit</a>
                    {% else %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal1">
                      Dozvoli
                    </button>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                  </div> 
                </div> 
              </div> 
            </div> 
          </div>    
    
             
        <!-- Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmationModal1" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal1Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteConfirmationModal1Label">Potvrdi dozvolu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Da li ste sigurni da hocete da objavite nacrt?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkazi</button>
                      <a href="{% url 'approve-draft' draft.id %}" class="btn btn-danger">Potvrdi</a>
                  </div>
              </div>
          </div>
        </div>
        {% else %}
        <div class="row">
            <h1>Novinar je podneo zahtev za brisanje</h1>
            <a href="{% url 'news-detail' draft.draft_of.id %}" class="btn btn-primary">Vesti</a>
            {% if user.is_superuser or user.is_authenticated and user.is_staff %}
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal2">
                      Odobri
                    </button>
            {% endif %}
        </div>
        <div class="modal fade" id="deleteConfirmationModal2" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModal2Label" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="deleteConfirmationModal2Label">Potvrdi dozvolu</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                      Da li ste sigurni da hocete da obrisete nacrt?
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkazi</button>
                      <a href="{% url 'approve-draft' draft.id %}" class="btn btn-danger">Potvrdi</a>
                  </div>
              </div>
          </div>
        </div>
        
        {% endif %}
{% endblock %}
