{% extends "base.html" %}

{% block navbar %}
{% include "loged-nav2.html" %}
{% endblock %}
{% block content %}
 
<h1>Lista nacrta</h1>

  {% if drafts %}
    <table class="table table-striped" style="margin-bottom: 180px;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Naslov</th>
          <th>Kategorija</th>
          <th>Pregledano?</th>
          <th>Brisanje zahteva?</th>
          <!-- Add more headers for additional fields -->
        </tr>
      </thead>
      <tbody>
        {% for draft in drafts %}
          <tr>
            <td>{{ draft.id }}</td>
            <td>{{ draft.title }}</td>
            <td>{{draft.category}}</td>
            <td>{{ draft.was_seen_by_editor }}</td>
            <td>{{ draft.is_up_for_deletion }}</td>
            <td><a href="{% url 'view-draft' draft.id %}" class="btn btn-primary" style="background-color: #113fa2;">Detaljno</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal{{ draft.id }}">
                  Obrisi
                </button>
                <div class="modal fade" id="deleteConfirmationModal{{ draft.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="deleteConfirmationModalLabel">Potvrdi brisanje</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                              </button>
                          </div>
                          <div class="modal-body">
                              Da li ste sigurni da zelite da obrisete nacrt?
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkazi</button>
                              <a href="{% url 'delete-draft' draft.id %}" class="btn btn-danger">Obriši</a>
                          </div>
                      </div>
                  </div>
                </div>
            </td>
            <!-- Add more cells for additional fields -->
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div style="margin-top: 260px;">
    <p>Trenutno nema nacrta.</p>
  </div>
  {% endif %}
 
{% endblock %}