{% extends 'base.html' %}

{% block content %}
    <h2>Edit a news article</h2>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <br>
                <input type="hidden" id="selectedCategory" name="category_id" value="">
                {{ form.as_p }}

                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <p class="error">{{ error }}</p>
                    {% endfor %}
                {% endfor %}


                <button type="submit">Confirm</button>
            </form> 
{% endblock %}