<style>
    .tickerWrap {
    margin-top: 0;
    margin-bottom:30px;
    overflow: hidden;
    position: relative;
    height: 50px;
    background-color: white;
    color: black;
  }

  .tickerLatest {
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
  }

  .headerTicker ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .headerTicker li {
    margin-right: 20px;
    white-space: nowrap;
    margin-bottom: 30px;
  }

  @keyframes ticker {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.headerTicker:hover ul {
    -webkit-animation-play-state: paused;
    animation-play-state: paused
}

.headerTicker ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 46px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-animation: ticker 50s infinite linear;
    animation: ticker 50s infinite linear
}

</style>

<nav class="navbar navbar-expand-md navbar-dark bg-faded mb-0" style="background-color: #113fa2 !important; height: auto; color: azure; font-size: x-large;">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href={% url 'home' 1 %}>Početna <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'login' %}>Uloguj se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/pages/search/1?cat=2&search=&date1=&date2=>Nauka</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/pages/search/1?cat=1&search=&date1=&date2=>Politika</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/pages/search/1?cat=5&search=&date1=&date2=>Sport</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/pages/search/1?cat=4&search=&date1=&date2=>Obrazovanje</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/pages/search/1?cat=3&search=&date1=&date2=>Razonoda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href=/pages/search/1?cat=6&search=&date1=&date2=>Crna hronika</a>
            </li>
        </ul>

        <div class="ml-auto"><!-- Align content to the right -->
            <form action="{% url 'combined-search' 1 %}" method="get" class="form-inline">
                <div class="dropdown">
                    <button class="btn btn-primary" type="button" id="searchIcon" data-toggle="modal" data-target="#searchModal">
                        <i class="fas fa-search"></i> 
                    </button>
                </div>

                <!-- Search Modal -->
                <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" style="color: #0d0d0e;" id="searchModalLabel">Pretraga</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center">
                                <form action="{% url 'combined-search' 1 %}" method="get" class="form-inline">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Izaberite kategoriju
                                        </button>
                                        <div class="dropdown-menu"style="left: 150px;" aria-labelledby="categoryDropdown">
                                            {% for category in categories %}
                                                <a class="dropdown-item" href="#" onclick="document.getElementById('selectedCategory').value='{{ category.id }}';">{{ category.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" id="selectedCategory" name="cat" value="">
                                    <h5 style="color: #010101;">Ukucaj kljucnu rec za pretragu:</h5>
                                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Kljucna rec" aria-label="Search">
                                    <br>
                                    <h4 style="color: #0b0b0b;">Od datuma:</h4>
                                    
                                    <input type="date" id="selectedDate1" name="date1">
                                    <h4 style="color: #0f1010;">Do datuma:</h4>
                                    <input type="date" id="selectedDate2" name="date2">
                                    <br>
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pretrazi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<div class="tickerWrap" style="margin-top: 0;">
    <h2 class="tickerLatest"><a href="/najnovije-vesti"><span>Najnovije vesti</span></a></h2>
    <div class="headerTicker">
        <ul>
            <!-- Add your news items here -->
            <li><a href="https://youtube.com/watch?v=PKHYxbUmhpM">SKANDALOZNO Kornjača k********na se koti kao drogirana na sred parka FOTO VIDEO SISE</a></li>
            <li><a href="https://www.youtube.com/watch?v=0xZU-p1ILEg">SKANDALOZNO Dečak J.M. u Gornjoj Trnavi upao u septičku jamu na iznenađenje svih prisutnih, za malo se udavio! FOTO VIDEO G***A</a></li>
            <li><a href="https://www.youtube.com/watch?v=l9eZC_R1WJI">SKANDALOZNO Bata Gašić iz Kruševca izjavio neverovatnu stvar nakon što je voditeljka kleknula! VIDEO</a></li>
            <li><a href="https://www.youtube.com/watch?v=TzKfiYGIPkY">SKANDALOZNO A da nije možda k... FOTO VIDEO ANKETA</a></li>
            <li><a href="https://www.youtube.com/watch?v=0SGSnn35Z0A">Otkriveno gde je snimana poznata pesma ˝Cijelo selo smrce belo˝ VIDEO</a></li>
        </ul>
    </div>
</div>