<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
<div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href={% url 'home' %}>Home <span class="sr-only">(current)</span></a>
    </li>
    <form action="{% url 'combined-search' %}" method="get" class="form-inline">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Category
            </button>
            <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                {% for category in categories %}
                    <a class="dropdown-item" href="#" onclick="document.getElementById('selectedCategory').value='{{ category.id }}';">{{ category.name }}</a>
                {% endfor %}
            </div>
        </div>
        <input type="hidden" id="selectedCategory" name="cat" value="">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Keyword(title,tag,content)" aria-label="Search">
        
        <label for="selectedDate">From Date:</label>
        <input type="date" id="selectedDate1" name="date1">

        <label for="selectedDate">To Date:</label>
        <input type="date" id="selectedDate2" name="date2">
        
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <li class="nav-item">
        <a class="nav-link" href={% url 'logout' %}>Signout</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href={% url 'change_password' %}>Change Password</a>
    </li>
    {% if user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'signup-page' %}>Register a user</a>
    </li>
    {% endif %}


    {% if not user.is_superuser and not user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'add-news-page' %}>Add an article</a>
    </li>
    {% endif %}

    {% if user.is_superuser %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'list-users' %}>Users</a>
    </li>
    {% endif %}

    {% if not user.is_superuser and user.is_staff %}
    <li class="nav-item">
        <a class="nav-link" href={% url 'list-journalists' %}>Journalists</a>
    </li>
    {% endif %}
    
    <li class="nav-item">
        <a class="nav-link" href={% url 'list-drafts' %}>Drafts</a>
    </li>
    </ul>
</div>
</nav>