<style>
    .tickerWrap {
    margin-top: 0;
    margin-bottom:30px;
    overflow: hidden;
    position: relative;
    height: 50px;
    background-color: white;
    color: black;
  }

  .tickerLatest {
    font-size: 18px;
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    cursor: pointer;
  }

  .headerTicker {
    white-space: nowrap;
    display: flex;
    position: absolute;
    animation: ticker 40s linear infinite; /* Podešavanje brzine tranzicije (ease-in-out) */
}

  .headerTicker ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  .headerTicker li {
    margin-right: 20px;
    white-space: nowrap;
  }

  /* Animation for the ticker */
  @keyframes ticker {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
</style>



<nav class="navbar navbar-expand-md navbar-dark bg-faded mb-0" style="background-color: #113fa2 !important; height: 120px; color: azure; font-size: x-large;">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto  ">
            
            <li class="nav-item active" >
                <a class="nav-link" href={% url 'home' 1%}>Pocetna<span class="sr-only">(current)</span></a>            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'logout' %}>Odjavi se</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href={% url 'change_password' %}>Promeni lozinku</a>
            </li>
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'signup-page' %}>Registruj korisnika</a>
            </li>
            {% endif %}
            {% if not user.is_superuser and not user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'add-news-page' %}>Dodaj vest</a>
            </li>
            {% endif %}
            {% if user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'list-users' %}>Korisnici</a>
            </li>
            {% endif %}
            {% if not user.is_superuser and user.is_staff %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'list-journalists' %}>Novinari</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href={% url 'list-drafts' %}>Nacrt</a>
            </li>
        </ul>
        <div>
            <form action="{% url 'combined-search' 1%}" method="get" class="form-inline">
                <div class="dropdown">
                    <button class="btn btn-primary" type="button" id="searchIcon" data-toggle="modal" data-target="#searchModal">
                        <i class="fas fa-search"></i> 
                    </button>
                </div>

                <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="modal-title" style="color: #0d0d0e;" id="searchModalLabel">Pretraga</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-center"> 

                                <form action="{% url 'combined-search' 1%}" method="get" class="form-inline">

                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Izaberite kategoriju
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                                            {% for category in categories %}
                                                <a class="dropdown-item" href="#" onclick="document.getElementById('selectedCategory').value='{{ category.id }}';">{{ category.name }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    
                                    <input type="hidden" id="selectedCategory" name="cat" value="">
                                    <h5 style="color: #010101;">Ukucaj kljucnu rec za pretragu:</h5>
                                    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Kljucna rec" aria-label="Search">
                                    <br>
                                    <h4 style="color: #0b0b0b;">Od datuma:</h4>
                                    
                                    <input type="date" id="selectedDate1" name="date1">
                                    <h4 style="color: #0f1010;">Do datuma:</h4>
                                    <input type="date" id="selectedDate2" name="date2">
                                    <br>
                                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Pretrazi</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
</nav>
<div class="tickerWrap" style="margin-top: 0;">
    <h2 class="tickerLatest"><a href="/najnovije-vesti"><span>Najnovije vesti</span></a></h2>
    <div class="headerTicker">
        <ul>
            <!-- Add your news items here -->
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti</a></li>
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti</a></li>
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti</a></li>
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti</a></li>
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti?</a></li>
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti</a></li>
            <li><a href="#">Primer prve vesti Primer prve vesti Primer prve vesti</a></li>
        </ul>
    </div>
</div>
