{% extends "base.html" %}

{% block navbar %}
{% include "loged-nav2.html" %}
{% endblock %}
{% block content %}


  <h1>Lista korisnika</h1>

  {% if users.count != 1 %}
    <table class="table table-striped" style="margin-bottom: 180px;">
      <thead>
        <tr>
          <th>ID</th>
          <th>Korisnicko ime</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Email</th>
          <th>Rola</th>
          <!-- Add more headers for additional fields -->
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
          {% if user != request.user %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.first_name }}</td>
              <td>{{ user.last_name }}</td>
              <td>{{ user.email }}</td>
              {% if user.is_staff %}
                <td>Editor</td>
              {% else %}
                <td>Novinar</td>
              {% endif %}
              <td><a href="{% url 'edit-user' user.id %}" style="background-color: #113fa2;" class="btn btn-primary">Uredi</a>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmationModal{{ user.id }}">
                    Obriši
                  </button>
                  <div class="modal fade" id="deleteConfirmationModal{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteConfirmationModalLabel">Potvrdi brisanje</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Da li ste sigurni da hoćete da obrišete korisnika?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Otkaži</button>
                                <a href="{% url 'delete-user' user.id %}" class="btn btn-danger">Obriši</a>
                            </div>
                        </div>
                    </div>
                  </div>
              </td>
              <!-- Add more cells for additional fields -->
            </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>
  {% else %}
  <div style="margin-top: 260px;">
    <p>Ne postoje registrovani korisnici.</p>
  </div>
  {% endif %}
 
{% endblock %}